#contenitore {
  width: 260px;
  margin-top: 50px;
}
#contenitore  div{
  height: 30px;
  width: 30px;
  background: white;
  border: solid 1px black;
  display: inline-block;
}
.rosso{
  background: red
}
.verde{
  background: green
}
